.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.search-input {
    width: 500px;
    padding: 12px 20px;
    border-radius: 16px;
    border: 2px solid var(--dark-green);
    background: var(--dark);
    color: var(--light-green);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: var(--lighter-green);
}