@import url('../../variables.css');

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.search-input {
  width: 500px;
  max-width: 90%;
  padding: 14px 24px;
  border-radius: 16px;
  background: var(--dark);
  border: 5px solid #203e3e;
  color: var(--lighter-green);
  margin-bottom: 20px;
}


.search-input:focus {
  border-color: var(--lighter-green);
}

.filter-controls {
  display: flex;
  gap: 40px;
}

.clear-btn {
  background: transparent;
  border: 1px solid var(--lighter-green);
  color: rgb(158  200  185 / 70%); 
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  align-self: center;
}

.clear-btn:hover {
  background-color: rgb(158 200 185 / 10%);
  color: white;
  border-color: var(--lighter-green);
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
  padding: 40px;
  color: var(--lighter-green);
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 10%;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

@media (width <= 768px) {
  .search-input {
    width: 90%; 
  }

  .filter-controls {
    flex-direction: column; 
    gap: 15px;
    width: 90%;
  }

  .dropdown-group {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}