.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px;
}

.nav-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--lighter-green);
    margin: 0;
    cursor: pointer;
}

.nav-options{
    display: flex;
    gap: 40px;
}

.nav-button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--light-green);
    cursor: pointer;
    text-decoration: none;
}

.nav-button .active {
    color: var(--lighter-green);
    font-weight: bold;
}

.nav-button:hover{
    color: var(--lighter-green);
}

@media (width <= 600px) {
  .navbar {
    flex-direction: column; 
    gap: 15px;
    width: 95%;
  }

  .nav-options {
    gap: 20px; 
  }
}