@import './variables.css';

*{
    font-family:Verdana, serif;
    margin:0;
    background-color: var(--dark);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);

    gap: 20px;
}