@import './variables.css';

*{
  font-family:Verdana, serif;
  margin:0;
  background-color: var(--dark);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark);
  gap: 20px;
}

footer {
  margin-top: auto; 
  width: 80%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--dark-green);
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  color: var(--lighter-green);
}